<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr *ngFor="let p of products"> 
        <td>{{p.id}}</td>
        <td class="w-75">{{p.name}}</td>
        <td>
            <a [routerLink]="['/products',p.id]" class="btn btn-primary btn-sm">details</a>
            <a [routerLink]="['/products',p.id,'edit']" class="btn btn-primary btn-sm ml-2">edit</a>
        </td>
      </tr>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" routerLink="/products" [queryParams]="{page:1, order: 'bestselling'}">En Çok Satanlar</a>
    <a class="btn btn-primary ml-2" [queryParams]="{page:1, order: 'newest'}" routerLink="/products">En Yeni Ürünler</a>
    <button (click)="loadProducts()" class="btn btn-primary ml-2">Sayfayı Yenile</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>