/* 
    #007bff
    #6c757d
    #28a745
    #dc3545
    #ffc107
    #17a2b8
    #343a40
    #f8f9fa
*/

:root {
    --white: #fff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --dark: #343a40;
    --light: #f8f9fa;
}

/* text color */
.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-success { color: var(--success); }
.text-danger { color: var(--danger); }
.text-warning { color: var(--warning); }
.text-info { color: var(--info); }
.text-dark { color: var(--dark); }
.text-light { color: var(--light); }

/* bg-colors */
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-success { background-color: var(--success); }
.bg-danger { background-color: var(--danger); }
.bg-warning { background-color: var(--warning); }
.bg-info { background-color: var(--info); }
.bg-dark { background-color: var(--dark); }
.bg-light { background-color: var(--light); }

/* buttons */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
}

.btn-secondary {
    color: var(--white);
    background-color: var(--secondary);
}

.btn-success {
    color: var(--white);
    background-color: var(--success);
}


.btn-danger {
    color: var(--white);
    background-color: var(--danger);
}

.btn-warning {
    color: var(--white);
    background-color: var(--warning);
}

.btn-dark {
    color: var(--white);
    background-color: var(--dark);
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-outline-primary {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--dark);
}

.btn-outline-primary:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}

/* flex items */
.flex-items {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex-items > div {
    padding: 20px;
    flex-basis: 100%;
}

/* flex columns */
.flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
}
.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    flex: 1;
}

.flex-columns.article .column:nth-child(odd) {
    flex: 2;
}

.flex-columns.article .column:nth-child(even) { 
    flex: 3;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
}

.flex-columns img {
    width: 100%;
    height: 100%;
}


/* flex grid */
.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .4rem;
}

.flex-grid .column {
    flex: 25%;
    padding: 0 .4rem;
}

/* section */
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}

.section-header h2 {
    font-size: 4rem;
    margin: 2rem 0;
}

.section-padding {
    padding: 2rem 2rem 4rem;
}

@media(max-width: 768px) {

    .flex-items {
        flex-direction: column;
    }

    .flex-items > div {
        padding: 10px;
    }

    .flex-columns .column {
        flex: 100% !important;
    }

    .flex-grid .column {
        flex: 50%;
    }

}