ul li.checked{
	background: #888;
	color: #fff;
	text-decoration: line-through;
}

.close{
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}
#deleteAll
{
	position: absolute;
	right: 5px;
	top: 10px;
}