* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 6px;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: center;
	background-color: #333;
}

a {
	text-decoration: none;
}

p {
	padding: 1.6rem 0;
	font-size: 2rem;
}

img {
	width: 100%;
	height: auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


/*header*/

header {
	height: 45rem;
}

header .bg-image {
	position: absolute;
	background-image: url(img/bg.jpeg);
	background-size: cover;
	background-position: center;
	height: 45rem;
	width: 100%;
	opacity: 0.4;
	z-index: -1;
}

header h1 {
	padding: 11rem;
	padding-bottom: 0;
}

.btn {
	display: inline-block;
	background: #333;
	color: #fff;
	border: 1px solid #666;
	padding: 1.6rem 3.2rem;
	margin: .5rem 0;
	transition: all 0.3s;
}

.btn:hover {
	background-color: #eaeaea;
	color: #333;
}

/*section-a*/

#section-a {
	background-color: #eaeaea;
	color: #333;
	padding: 3.2rem 0;
}



/*section-b*/

#section-b {
	padding: 2rem;
}

#section-b ul {
	list-style: none;
}

#section-b li {
	background: #fff;
	color: #333;
	margin-bottom: 1.5rem;
}

.col-content {
	padding: 1.5rem;
}

/*section c*/

#section-c {
	background-color: #eaeaea;
	color: #333;
	padding: 5rem;
}

/*section d*/

#section-d .box {
	padding: 5rem;
}

#section-d .box:first-child {
	background-color: #2690d4;
}

/*footer*/

footer {
	padding: 4rem;
	background: #000;
}

footer a {
	color: #2690d4;
}

@media screen and (min-width:800px) {

	html {
		font-size: 8px;
	}
	
	
}


@media screen and (min-width:1200px) {

	#section-b li {
		width: 28%;
		margin: 1%;
		display: inline-block;
	}


	.box {
		width: 50%;
		float: left;
	}

	html {
		font-size: 10px;
	}

}
