body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 400px;
}

#progress .times,
.card-footer,
.volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-container i {
    margin-right: 5px;
}

li.playing {
    background-color: #0b5eb7;
    color: #fff;
}