#container{
	width: 1140px;
	
}
#blog-post-container{
	width: 75%;	
	float: left;
}

#other-posts{
	width: 25%;	
	float: left;	
}

#fixed{
	position: fixed;
}

#author-box
{
	
}

.blog-post{
	position: relative;
}

.date{
	position: absolute;
	right:50px;
	top: 0;
}

.tags{
	margin: 0;
	padding: 0;
}

.tags li{
	list-style: none;
	display: inline;
	margin-right: 5px;
}

.tags li a{
	text-decoration: none;
}