<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" formControlName="name">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <ul>
                <li *ngIf="name.errors.required"> Name is required. </li>
                <li *ngIf="name.errors.minlength">Min. {{ name.errors.minlength.requiredLength }} characters</li>
                <li *ngIf="name.errors.maxlength">Max. {{ name.errors.maxlength.requiredLength }} characters</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input class="form-control" formControlName="price">
    </div>

    <div class="form-group">
        <label>Image Url</label>
        <input class="form-control" formControlName="imageUrl">
    </div>

    <button type="submit" (click)="updateProduct()" class="btn btn-primary"> Submit </button>
</form>