*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #f1f1f1;
}

h2{
	margin-bottom: 10px;
}


#container{
	width: 1140px;
	margin: 20px auto;
}
#blog-post-container{
	width: 75%;	
	float: left;
}

#other-posts{
	width: 25%;	
	float: left;
	padding-left: 10px;
}

#author-box
{
	
}

.box{
		background: white;
	margin-bottom: 15px;
	padding: 20px;
}

.blog-post{
	position: relative;
	

}

.blog-post img{
	width: 100%;
}

.date{
	position: absolute;
	right:50px;
	top: 15px;
}

.blog-text{
	margin-top: 15px;
}

.tags li{
	list-style: none;
	display: inline;
	margin-right: 5px;
}

.tags li a{
	text-decoration: none;
}

#author-box{
	border-top: 1px solid RGB(0,0,0,.125);
	padding-top: 10px;
}


#author-box img{
	border-radius: 50%;
	float: left;
}

.author-text{
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}
