.btn_start,
.quiz_box,
.score_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.quiz_box.active {
    opacity: 1;
    pointer-events: auto;

    transform: translate(-50%, -50%) scale(1);
}

.quiz_box {
    width: 550px;

    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.3s ease;

    opacity: 0;
    pointer-events: none;
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .question_text {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .option_list {
    padding: 18px 0;
}

.quiz_box .option_list .option {
    border: 1px solid #151D3B;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box .option_list .option:hover {
    color: #112B2C;
    background: #FFD33D;
}

.quiz_box .option_list .option.correct {
    color: #155724;
    background: #d4edda;
}

.quiz_box .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
}

.quiz_box .option_list .option.disabled {
    pointer-events: none;
}

.quiz_box .next_btn {
    opacity: 0;
    pointer-events: none;

    transform: scale(0.9);
    transition: all 0.3s ease;
}

.quiz_box .next_btn.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.quiz_box footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* timer */
.quiz_box header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    background: #143F68;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 15px;
}

.quiz_box header .timer .time_text {
    font-size: 14px;
}

.quiz_box header .timer .time_second {
    background: #F0A500;
    border-radius: 3px;
    padding: 3px;
    margin-left: 3px;
    width: 25px;
    text-align: center;
}

.quiz_box header .time_line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    /* width: 550px;  0 - 500 */
    background: #F0A500;
}

/* score box */
.score_box.active {
    opacity: 1;
    pointer-events: auto;

    transform: translate(-50%, -50%) scale(1);
}

.score_box {
    width: 550px;
    align-items: center;
    justify-content: center;
    padding: 30px;

    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.3s ease;

    opacity: 0;
    pointer-events: none;
}

.score_box .icon {
    font-size: 90px;
    color: #007bff;
    margin-bottom: 10px;
}

.score_box .score_text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

