#main-nav .social-icons {
    display: none;
}

#main-nav .container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
}

#main-nav ul, 
#main-nav img {
    justify-self: center;
} 

#main-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width: 600px) {
    #header .header-container,
    #main-articles .articles-container,
    #main-footer .footer-container {
        grid-template-columns: 1fr;
    }

    #main-footer .footer-container > *:last-child {
        grid-column: 1;
    }


    #main-footer .footer-container > * {
        border-bottom: 1px dotted #444;
        padding-bottom: 1rem;
    }

    .page-container { 
        grid-template-columns: 1fr;
    }

}