* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

main {
    margin-top: 50px;
}

#showcase { 
    background: 
    linear-gradient(to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)),
    url('../img/bg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    position: relative;
}

#showcase .content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 30px;
    background: rgba(46, 76, 109, 0.3);
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}


#showcase h1 {
    position: absolute;
    top: 50%;
    margin: 0;
    color: #fff;
    font-size: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-header {
    background-color: #FC997C;
    padding: 8px 16px;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 101px);
    text-align: right;
    font-family: 'Roboto', sans-serif;
}
.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 10px;
}

.main-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.main-header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
}

.main-nav__item a {
    text-decoration: none;
    color: #fff;
}

.main-nav__item a:hover, .main-nav__item:hover::before {
    color: #2E4C6D;
}      

.main-nav__item:active::before, .main-nav__item a:active {
    color: #fff;
}

.main-nav__item::before {
    content: '\2022';
    color: #fff;
}

.main-nav__item--login::before {
    content:none;
}

#how-it-works { 
    padding: 10px;
    text-align: center;
}

.row {
    margin-bottom: 40px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col-4 {
    float: left;
    width: 25%;
}

.col-3 {
    float: left;
    width: 33.3%;
}

.col-2 {
    float: left;
    width: 50%;
}

.icon-box h3 {
    color: #3e4555;
    font-size: 26px;
}

.icon-box i {
    color: #FC997C;
}

.features__left {
    background: 
    linear-gradient(to bottom, rgba(252, 153, 124, 0.2),rgba(250, 81, 30, 0.2)),
    url('../img/features.jpeg');
    background-size: cover;
    background-position: top center;
}

.features__right {
    background-color: #edf5f7;
    padding: 40px;
    vertical-align: top;
}

.features__left,
.features__right {
    height: 350px;
}

.features__right h3 {
    font-size: 30px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    color: #3e4555;
    font-size: 30px;
}

.plan {           
    text-align: center;
    padding: 5px;
}

.plan__badge {
    background: #fff;
    color: #FC997C;
    padding: 8px;
    border-radius: 5px;
}

.recommended_plan {
    color: #fff;
    background: #396EB0!important;
}

.inner-plan {
    background: #edf5f7;
    padding: 25px 10px;
    border-radius: 5px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    transition: box-shadow .6s;
}

.inner-plan:hover {
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.5);
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan--featured {
    position: relative;
    top: -20px;
}

.plan__features li {
    margin: 6px 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

#backtotop {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#backtotop i {
    color: #2E4C6D;
    font-size: 45px;
    transition: color .6s;
}

#backtotop i:hover {
    color:#2E4C6D;
}

.counter {
    background: linear-gradient(to bottom, #fc997c 0%, #fc8b69 100%);
    text-align: center;
    padding: 50px;
}

.counter__item {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.counter h4 {
    margin: 0;
    color: #fff;
}

.card-container {
    padding: 10px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(52,58,64,0.1);
    /* position: relative; */
    /* top: 0; */
    transition: all .3s;
}
.card:hover {
    /* top: -10px; */
    transform: translateY(-10px);
}

.card-image {
    max-height: 350px;
}

.card-body {
    padding: 30px;
}

.img-fluid {
    width: 100%;
}