#contact {
    &-a {
        .form-fields {
            display: grid;
            grid-template-areas: 
                'name email'
                'subject phone'
                'message message'
                'button button';
            gap: 1rem;
            margin-bottom: 1rem;

            .name { 
                grid-area: name;
            }
            .email {
                grid-area: email;
            }    
            .phone {
                grid-area: phone;
            }         
            .subject {
                grid-area: subject;
            }
            .message {
                grid-area: message;
                height: 180px;
            }          
            .btn-dark {
                grid-area: button;
            }
            .input {
                padding: .5rem 1rem;
            }
        }
    }

    &-b {
        .contact-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            color: #fff;
        }  
    }
}