* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: center;
	background-color: #333;
}

a {
	text-decoration: none;
	
}

p {
	padding: 1.6rem 0;
}


/*header*/
header {
	height: 45rem;
}

header .bg-image {
	position: absolute;
	background-image: url(img/bg.jpeg);
	background-size: cover;
	background-position: center;
	height: 45rem;
	width: 100%;
	opacity: 0.4;
	z-index: -1;
}

header h1 {
	padding: 11rem;
	padding-bottom: 0;
}

.btn {
	display: inline-block;
	background: #333;
	color: #fff;
	border: 1px solid #666;
	padding: 1.6rem 3.2rem;
	margin: .5rem 0;
	transition: all 0.3s;
}

.btn:hover {
	background-color: #eaeaea;
	color: #333;
}










