.app-container {
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.option-list {
    padding: 18px 10px;
}

.option-list .option{
    border: 1px solid #151D3B;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-list .option:hover{
    color: #112B2C;
    background: #FFD33D;
}

.option-list .option.correct {
    color: #155724;
    background: #d4edda;
} 

.option-list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
} 

.option-list .option.disabled {
    pointer-events: none;
} 