<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs my-4">
        <li class="nav-item">
          <a href="#" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-categories></app-categories>
    </div>
    <div class="col-md-9">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>