* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
}

a {
	text-decoration: none;
}

.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: .5rem;
	padding-right: .5rem;
}

.text-uppercase {
	text-transform: uppercase;
}

/*navbar*/

nav {
	font-family: Montserrat;
	background-color: #2C3E50;
	color: #fff;
	padding-top: 2.9rem;
	padding-bottom: 2.9rem;
}

#logo-box .logo {
	color: #fff;
	font-weight: 700;
	font-size: 3.2rem;
}















