.signup-title {
    text-align: center;
    font-size: 30px;
    color: #2E4C6d;
}

.signup-form {
    width: 500px;
    margin: auto;
}

.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
}

.signup-form button[type="submit"] {
    display: block;
    margin-top: 15px;
}